@charset 'utf-8';

@use '../../node_modules/mlut' as ml;

form-field {
	label::before {
		position: absolute;
		right: ml.su(-4);
		bottom: ml.su(4);
		width: ml.su(2);
		height: ml.su(2);
		border-radius: 50%;
		content: '';
	}

	.message {
		display: none;
		font-size: ml.su(3);
	}

	&[valid] {
		input,
		label::before {
			background-color: rgba(#0c0, 0.5);
		}

		.message {
			display: none;
		}
	}

	&[invalid] {
		input,
		label::before {
			background-color: rgba(#c00, 0.5);
		}

		.message {
			display: block;
		}
	}
}

/*! purgecss start ignore */
@include ml.apply(
	"Ct-'*'_af C-red_af Va-sp_af"
);
/*! purgecss end ignore */
